{% extends "_layout.html" %}
{% block title %}gameplay.computer{% endblock %}
{% block main %}
{# Subscribe to updates #}
<div hx-ext="sse" sse-connect="/matches/{{match.id}}/changes">
    <div id="match_state" hx-get="/matches/{{match.id}}" hx-trigger="sse:message" class="grid">
        {% block match_state %}
        <div>
            <hgroup>
                <h2>Connect 4</h2>
                {% if match.status == "finished" %}
                    {% if match.winner == 1 %}
                        <h4>Blue Wins!</h4>
                    {% elif match.winner == 2 %}
                        <h4>Red Wins!</h4>
                    {% else %}
                        <h4>It's a tie!</h4>
                    {% endif %}
                {% else %}
                    {% if match.next_player == 1%}
                        {% if match.players[match.next_player].username == username %}
                            <h4>Blue's turn</h4>
                            <span>That's you!</span>
                        {% else %}
                            <h4>Waiting for Blue's Turn</h4>
                            {% if match.players[match.next_player].username is not none %}
                                <span>user: {{ match.players[match.next_player].username }}</span>
                            {% else %}
                                <span>agent: {{ match.players[match.next_player].agentname }}</span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if match.players[match.next_player].username == username %}
                            <h4>Red's Turn</h4>
                            <span>That's you!</span>
                        {% else %}
                            <h4>Waiting for Red's Turn</h4>
                            {% if match.players[match.next_player].username is not none %}
                                <span>user: {{ match.players[match.next_player].username }}</span>
                            {% else %}
                                <span>agent: {{ match.players[match.next_player].agentname }}</span>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </hgroup>

            {# Build the board with svg. code based on https://codepen.io/rossta/pen/eyrgJe #}
            <svg width="350px" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <pattern id="cell-pattern" patternUnits="userSpaceOnUse" width="100" height="100">
                        <circle cx="50" cy="50" r="45" fill="black"></circle>
                    </pattern>
                    <mask id="cell-mask">
                        <rect width="100" height="600" fill="white"></rect>
                        <rect width="100" height="600" fill="url(#cell-pattern)"></rect>
                    </mask>
                </defs>
                {% if match.status != "finished" and match.players[match.next_player].username == username %}
                <svg x="0" y="0">
                    {% for i in range(0, 8) %}
                    <g>
                        <circle class="turn-marker-{{ match.next_player }}" cx="{{ i*100 + 50 }}" cy="50" r="45"
                            hx-post="/matches/{{match.id}}/turns" hx-target="#match_state"
                            hx-vals='{"player": {{ match.next_player }}, "column": {{i}}}'>
                        </circle>
                    </g>
                    {% endfor %}
                </svg>
                {% endif %}
                {% for col in range(0,7) %}
                    <svg x="{{100 * col}}" y="100">
                        {% for row in range(0,6) %}
                            {% if match.state[col][row] == 1 %}
                                <circle cx="50" cy="{{ 550 - row * 100 }}" r="45" fill="#254689"></circle>
                            {% elif match.state[col][row] == 2 %}
                                <circle cx="50" cy="{{550-row*100}}" r="45" fill="#FC7E69"></circle>
                            {% endif %}
                        {% endfor %}
                        <rect width="100" height="600" fill="cadetblue" mask="url(#cell-mask)"></rect>
                    </svg>
                {% endfor %}
            </svg>
        </div>
        <div>
            <h2>turns</h2>
            <div id="turns">
                {% block turns %}
                    <ul>
                        {% for turn in match.turns %}
                            {% if turn.player is none %}
                            {% elif turn.player == 1 %}
                                <li>Blue: {{turn.action}}</li>
                            {% elif turn.player == 2 %}
                                <li>Red: {{turn.action}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
    </div>
</div>
{% endblock %}