{% extends "_layout.html" %}
{% block title %}gameplay.computer - matches{% endblock %}
{% block main %}

<h1>Matches</h1>

<table role="grid">
    <thead>
        <tr>
            <th>@</th>
            <th>Game</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>connect4</td>
            <td>Won</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>connect4</td>
            <td>Lost</td>
        </tr>
    </tbody>
</table>

{% endblock %}