<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/@picocss/pico@1.5.9/css/pico.min.css" rel="stylesheet">
    <style>
        circle.turn-marker {
            fill: lightgray;
        }

        circle.turn-marker:hover {
            fill: #254689;
        }
    </style>
    {% block additional_css %}{% endblock %}
    <title>{% block title %}connect4{% endblock %}</title>
</head>

<body>
    <main class="container" id="main_content">
        {% block main_content %}{% endblock %}
    </main>

    <script src="https://unpkg.com/htmx.org@1.8.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    {% block additional_js %}{% endblock %}
</body>

</html>