{% extends "_layout.html.j2" %}
{% block title %}Connect4{% endblock %}
{% block main_content %}

<h1>Connect4 Match {{match.id}}</h1>

<p>game: {{match.game}}</p>
<p>opponent: {{match.opponent}}</p>
<p>state: {{match.state}}</p>
<p>turn: {{match.turn}}</p>
<p>next_player: {{match.next_player}}</p>

<h2>turns</h2>
<div id="turns">
    {% block turns %}
    <ul>
        {% for turn in match.turns %}
        <li>{{turn}}</li>
        {% endfor %}
    </ul>
    {% endblock %}
</div>

<h3>move</h3>
<form hx-post="/matches/{{match.id}}/turns/" hx-target="#main_content">
    <input type="number" name="player" value="0">
    <input type="number" name="column" value="0">
    <input type="submit" value="Submit">
</form>

{% endblock %}