<html>

<head>
    <title>Test</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>Connect4</h1>

    <span>List of games</span>
    <span>New game form</span>
</body>

</html>