{% extends "_layout.html.j2" %}
{% block title %}Connect4{% endblock %}
{% block main_content %}

<h1>Connect4 Match {{match.id}}</h1>

<div class="grid">
    <div>
        <p>turn: {{match.turn}}</p>
        <p>state: {{match.state}}</p>

        {# Build the board with svg. code based on https://codepen.io/rossta/pen/eyrgJe #}
        <svg width="350px" viewBox="0 0 700 700" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <pattern id="cell-pattern" patternUnits="userSpaceOnUse" width="100" height="100">
                    <circle cx="50" cy="50" r="45" fill="black"></circle>
                </pattern>
                <mask id="cell-mask">
                    <rect width="100" height="600" fill="white"></rect>
                    <rect width="100" height="600" fill="url(#cell-pattern)"></rect>
                </mask>
            </defs>
            <svg x="0" y="0">
                {% for i in range(0, 8): %}
                <g>
                    <circle class="turn-marker" cx="{{i*100+50}}" cy="50" r="45" hx-post="/matches/{{match.id}}/turns/"
                        hx-target="#main_content" hx-vals='{"player": 1, "column": {{i}}}'>
                    </circle>
                </g>
                {% endfor %}
            </svg>
            {% for col in range(0,7) %}
            <svg x="{{100*col}}" y="100">
                {% for row in range(0,6) %}
                {% if match.state[col][row] == 1 %}
                <circle cx="50" cy="{{550-row*100}}" r="45" fill="#254689"></circle>
                {% elif match.state[col][row] == 2 %}
                <circle cx="50" cy="{{550-row*100}}" r="45" fill="#FC7E69"></circle>
                {% endif %}
                {% endfor %}
                <rect width="100" height="600" fill="cadetblue" mask="url(#cell-mask)"></rect>
            </svg>
            {% endfor %}
        </svg>
        {# <p>game: {{match.game}}</p>
        <p>opponent: {{match.opponent}}</p>
        <p>state: {{match.state}}</p>
        <p>turn: {{match.turn}}</p>
        <p>next_player: {{match.next_player}}</p> #}
    </div>
    <div>
        <h2>turns</h2>
        <div id="turns">
            {% block turns %}
            <ul>
                {% for turn in match.turns %}
                <li>{{turn}}</li>
                {% endfor %}
            </ul>
            {% endblock %}
        </div>
    </div>
</div>


<h3>move</h3>

{# todo: make this not push state #}
<form hx-post="/matches/{{match.id}}/turns/" hx-target="#main_content">
    <input type="number" name="player" value="0">
    <input type="number" name="column" value="0">
    <input type="submit" value="Submit">
</form>

{% endblock %}