{% extends "_layout.html" %}
{% block title %}gameplay.computer - dashboard{% endblock %}
{% block main %}
<div class="grid">
    <div>
        <h2>Start a Match</h2>
        <article>
            <form hx-post="/matches" hx-target="#main">
                <fieldset>
                    <legend>Game</legend>
                    <label for="connect4">
                        <input id="connect4" name="game" type="radio" value="connect4" checked>
                        Connect 4
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Blue Player</legend>
                    <label for="blue_me">
                        <input id="blue_me" name="player_type_1" type="radio" value="me"
                               hx-get="/selects"
                               hx-target="#blue_name"
                               checked>
                        Me (steve)
                    </label>
                    <label for="blue_user">
                        <input id="blue_user" name="player_type_1" type="radio" value="user"
                               hx-get="/selects"
                               hx-target="#blue_name">
                        Other Human
                    </label>
                    <label for="blue_agent">
                        <input id="blue_agent" name="player_type_1" type="radio" value="agent"
                               hx-get="/selects"
                               hx-target="#blue_name">
                        Agent
                    </label>
                    <div id="blue_name">
                        <input name="player_name_1" type="hidden" value="{{ username }}">
                    </div>
                    <legend>Red Player</legend>
                    <label for="red_me">
                        <input id="red_me" name="player_type_2" type="radio" value="me"
                               hx-get="/selects"
                               hx-target="#red_name"
                               checked>
                        Me (steve)
                    </label>
                    <label for="red_user">
                        <input id="red_user" name="player_type_2" type="radio" value="user"
                               hx-get="/selects"
                               hx-target="#red_name">
                        Other Human
                    </label>
                    <label for="red_agent">
                        <input id="red_agent" name="player_type_2" type="radio" value="agent"
                               hx-get="/selects"
                               hx-target="#red_name">
                        Agent
                    </label>
                    <div id="red_name">
                        <input name="player_name_2" type="hidden" value="{{ username }}">
                    </div>
                </fieldset>
                <button>Play</button>
            </form>
        </article>
    </div>
    <div>
        <h2>Your Matches</h2>
        <table role="grid">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Game</th>
                    <th>Status</th>
                    <th>Blue</th>
                    <th>Red</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr>
                    <th scope="row">
                        {# todo: boosted link #}
                        <a href="/matches/{{ match.id }}">{{ match.id }}</a>
                    </th>
                    <td>{{ match.game_name }}</td>
                    <td>
                        {% if match.status == "finished" %}
                            {% if match.winner == 1 %}
                            <span>Blue Won</span>
                            {% elif match.winner == 2 %}
                            <span>Red Won</span>
                            {% else %}
                            <span>Draw</span>
                            {% endif %}
                        {% else %}
                            {%  if match.is_next_player %}
                                <span>Your Turn: </span>
                            {% else %}
                                <span>Waiting on: </span>
                            {% endif %}
                            {% if match.next_player == 1 %}
                                <span>Blue</span>
                            {% elif match.next_player == 2 %}
                                <span>Red</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ match.blue }}
                    </td>
                    <td>
                        {{ match.red }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
