{% extends "_layout.html.j2" %}
{% block title %}Connect4{% endblock %}
{% block main_content %}

<h1>Connect4</h1>

<button hx-post="/matches/" hx-target="#main_content">Play</button>

<h2>sse test</h2>
<div hx-ext="sse" sse-connect="/sse" sse-swap="message">
    test
</div>

{% endblock %}