{% extends "_layout.html.j2" %}
{% block title %}Connect4{% endblock %}
{% block main_content %}

<h1>Connect4</h1>
<p>Play connect4 against an AI.</p>
<button hx-post="/matches/" hx-target="#main_content">Play</button>

{% endblock %}